body {
    font-size: 18px;
}

.block {
    background-color: rgba(252, 180, 87, 0.87);
    width: 200px;
    height: 160px;
    box-sizing: border-box;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    border-radius: 40px;
    box-shadow: 0 0 5px #000;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin: 0 0 10px;
}

.container {
    width: 1000px;
    height: 400px;
    overflow-y: scroll;
    border-radius: 10px 0 0 10px;
    border: 2px #000;
    background-color: antiquewhite;
    box-shadow: 0 0 5px #000;
}